@font-face {
    font-family: 'Game of Thrones';
    src: url('./assets/Game\ of\ Thrones.ttf') format('truetype');
}

*{
    font-family: 'Game of Thrones';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.front-page{
    background-image: url('./assets/images/throne.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    animation: opening-sequence 7.5s ease forwards;
}
@keyframes opening-sequence {
    0%{
        opacity: 0;
        background-image:  url('./assets/images/title.png');
    }
    100%{
        opacity: 100;
    }
}

.menu-page{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    padding: 3rem;
    background-image: url('./assets/images/facess.png');
    background-size: cover;
    animation: appear-in 1s ease-in forwards;
}

@keyframes appear-in {
    0%{
        background-color: black;
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.title-image{
    width: 25rem;
    border: solid 2px white;
    border-radius: 1rem;
}

button{
    background-color: black;
    border: solid 2px white;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    width: 25rem;
    padding: 0.5rem;
    margin: 1rem;
}

.character-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/bannerss.png');
    background-size: cover;
}

.character{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border: solid 2px white;
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    animation: appear 1s ease-in forwards;
}

.character-image{
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size:cover;
}

@keyframes appear {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 100;
    }
}

.choose{
    width: 80%;
}

h1, h2, h3, p {
    color: white;
    font-family: 'Game of Thrones';
}

.results-page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/ironthrone.png');
    background-position: 50%;
    background-size: 100vw 100vh;
}

.table{
    display: flex;
}

.column{
    margin: 2rem;
    border-bottom: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px white;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name{
    border-top: solid 2px white;
    border-right: solid 2px white;
    width: 15rem;
}

.value{
    border-top: solid 2px white;
    width:25% ;
    display: flex;
    justify-content: center;
}

.play{
    width: 50%;
}